

/* section.tabs ul li {
    display: none !important;
}
section.tabs ul li:has(a[data-tab="home"]) {
    display: flex !important;
} */

/* 在线url */
/* #asc-gen1325{
    display: none !important;
} */

/* 字体，出了 asc-gen3089 其他的都隐藏 */

/* excel字体 */
/* #asc-gen193 input:first-of-type {
    pointer-events: none !important;
    opacity: 0.5 !important;
    cursor: not-allowed !important;
} */

/* word字体 */
/* #asc-gen461 input:first-of-type {
    pointer-events: none !important;
    opacity: 0.5 !important;
    cursor: not-allowed !important;
} */


/* excel 主题样式 */
/* #id-toolbar-btn-insertrange{
    display: none !important;
} */

/* docx 表格 */
/* #menu-container-asc-gen2357 > ul.dropdown-menu.shifted-right.ps-container.oo > *:nth-child(n+28) {
    display: none !important;
} */

/* docx 图片 */
/* #menu-container-asc-gen2161 > ul.dropdown-menu.shifted-right > *:nth-child(n+25) {
    display: none !important;
} */

/* 隐藏同时具有 asc-window、modal、notransform 三个 class 的元素 */
.asc-window.modal.alert {
    display: none !important;
}

.modals-mask{
    display: none !important;
}